.main-component {
  h2,
  h3,
  h5 {
    font-weight: 400;
    color: #1f2f3d;
    a {
      visibility: hidden;
      float: left;
      margin-left: -20px;
    }

    &:hover {
      a {
        visibility: visible;
        opacity: 0.5;
      }
    }
  }

  h2 {
    font-size: 28px;
    margin: 0;
  }
  h3 {
    margin: 55px 0 20px;
    font-size: 22px;
  }

  p {
    font-size: 14px;
    color: #5e6d82;
    line-height: 40px;
  }
}

.hljs {
  line-height: 1.8;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 12px;
  padding: 18px 24px;
  background-color: #fafafa;
  border: 1px solid #eaeefb;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}

// 代码部分去掉边框
code.hljs {
  border: none;
}
