@charset "UTF-8";

@import '../../base/style.scss';
@import '../../base/themes.scss';
// 组件class前缀
$prefixCls: 'py-cascader';
$disable-color: #c0c4cc;

// cascader.scss组件
.#{$prefixCls} {
  display: inline-block;
  position: relative;
  min-width: 222px;

  &.#{$prefixCls}--mini {
    min-width: 193px;
    .#{$prefixCls}__input-box {
      font-size: 12px;
      line-height: 28px;
      height: 28px;
    }
  }

  &.#{$prefixCls}--small {
    min-width: 215px;
    .#{$prefixCls}__input-box {
      font-size: 13px;
      line-height: 32px;
      height: 32px;
    }
  }
  &.#{$prefixCls}--medium {
    min-width: 217px;
    .#{$prefixCls}__input-box {
      font-size: 14px;
      line-height: 36px;
      height: 36px;
    }
  }

  &__input-box {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    position: relative;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 0px 30px 0px 15px;
    border-radius: $border-radius;
    border: 1px solid;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    white-space: nowrap;
    text-overflow: ellipsis;

    cursor: pointer;
    &--unfocus {
      border-color: $border-color;
      background: $bg-color;
    }
    &--focus {
      border-color: $border-color-active;
      background: $bg-color;
    }
    &--disabled {
      color: $disable-color;
      background: rgba(220, 222, 226, 0.27);
      cursor: not-allowed;
    }
  }

  &__input-icon {
    position: absolute;
    height: 100%;
    right: 0px;
    top: 0;
    text-align: center;
    color: #c0c4cc;
    cursor: pointer;
    .py-icon {
      padding: 0px 8px;
      font-size: 14px;
      height: 100%;
      line-height: 40px;
    }
    .icon-return {
      transition: transform 0.3s;
      &--down {
        transform: rotate(-90deg);
      }
      &--up {
        transform: rotate(90deg);
      }
    }
  }

  &__menu {
    position: absolute;
    top: 50px;
    left: 0px;
  
    display: flex;
    z-index: 10;
  
    border: 1px solid #e4e7ed;
    border-radius: 2px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
}


// cascader-menu组件
.#{$prefixCls}-menu {
  padding: 6px 0px;
  max-height: 204px;

  border: 1px solid $border-color;
  overflow: auto;
  background: #fff;
}

// cascader-menu-item组件
.#{$prefixCls}-menu-item {
  min-width: 160px;
  padding: 8px 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color;
  height: 34px;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 14px;

  &:hover {
    background-color: #f5f7fa;
  }

  &.#{$prefixCls}-menu-item--disable {
    color: $disable-color;
    background-color: #fff;
    cursor: not-allowed;
  }

  &.#{$prefixCls}-menu-item--active {
    color: $color-active;
  }

  .icon-return {
    transform: rotate(-180deg);
    float: right;
    color: $disable-color;
  }
}
