@charset "UTF-8";

// 组件class前缀
$prefixCls: 'py-sketch';

.py-sketch-content {
  width: 270px;
  .test {
    width: 30px;
    height: 30px;
    background-color: aqua;
  }
  .py-sketch-color-box {
    width: 50px;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.15);
    .py-sketch-active-color {
      width: 40px;
      height: 40px;
      position: relative;
      border-radius: 2px;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15),
        inset 0 0 4px rgba(0, 0, 0, 0.15);
      z-index: 2;
    }
  }

  .py-sketch {
    position: absolute;
    width: 250px;
    padding: 10px 10px 0;
    box-sizing: initial;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.15);
    .py-sketch-saturation-wrap {
      width: 100%;
      padding-bottom: 75%;
      position: relative;
      overflow: hidden;
    }

    .py-sketch-controls {
      display: flex;
    }

    .py-sketch-sliders {
      padding: 4px 0;
      flex: 1;
      .py-sketch-hue-wrap {
        position: relative;
        height: 10px;
      }

      .py-sketch-alpha-wrap {
        position: relative;
        height: 10px;
        margin-top: 4px;
        overflow: hidden;
      }
    }

    .py-sketch-sliders .py-hue,
    .py-sketch-sliders .py-alpha-gradient {
      border-radius: 2px;
    }

    .py-sketch-color-wrap {
      width: 24px;
      height: 24px;
      position: relative;
      margin-top: 4px;
      margin-left: 4px;
      border-radius: 3px;
    }

    .py-sketch-color-wrap .py-checkerboard {
      background-size: auto;
    }

    .py-sketch-field {
      display: flex;
      padding-top: 4px;
    }

    .py-sketch-field .py-input__input {
      width: 90%;
      padding: 4px 0 3px 10%;
      border: none;
      box-shadow: inset 0 0 0 1px #ccc;
      font-size: 10px;
    }

    .py-sketch-field .py-input__label {
      display: block;
      text-align: center;
      font-size: 11px;
      color: #222;
      padding-top: 3px;
      padding-bottom: 4px;
      text-transform: capitalize;
    }

    .py-sketch-field--single {
      flex: 1;
      padding-left: 6px;
    }

    .py-sketch-field--double {
      flex: 2;
    }

    .py-sketch-presets {
      margin-right: -10px;
      margin-left: -10px;
      padding-left: 10px;
      padding-top: 10px;
      border-top: 1px solid #eee;
    }

    .py-sketch-presets-color {
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      display: inline-block;
      margin: 0 10px 10px 0;
      vertical-align: top;
      cursor: pointer;
      width: 16px;
      height: 16px;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
    }

    .py-sketch-presets-color .py-checkerboard {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
    }

    .py-sketch__disable-alpha .py-sketch-color-wrap {
      height: 10px;
    }
  }
}
