@charset "UTF-8";

$elementSeparator: '__';
$modifierSeparator: '--';

$prefixCls: 'py-divider';

.#{$prefixCls} {
  background: $border-color;

  &,
  &#{$elementSeparator}vertical {
    margin: 0 8px;
    display: inline-block;
    height: 0.9em;
    width: 1px;
    vertical-align: middle;
    position: relative;
    top: -0.06em;
  }
  &#{$elementSeparator}horizontal {
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    clear: both;
  }
  &#{$elementSeparator}horizontal.#{$prefixCls}#{$elementSeparator}withText--center,
  &#{$elementSeparator}horizontal.#{$prefixCls}#{$elementSeparator}withText--left,
  &#{$elementSeparator}horizontal.#{$prefixCls}#{$elementSeparator}withText--right {
    display: table;
    white-space: nowrap;
    text-align: center;
    background: transparent;
    font-weight: 500;
    color: $color;
    font-size: $font-size;
    margin: 16px 0;
    &:before,
    &:after {
      content: '';
      display: table-cell;
      position: relative;
      top: 50%;
      width: 50%;
      border-top: 1px solid $border-color;
      transform: translateY(50%);
    }
  }

  &#{$elementSeparator}horizontal.py-divider__withText--left,
  &#{$elementSeparator}horizontal.py-divider__withText--right {
    font-size: $font-size;
    .#{$prefixCls}#{$elementSeparator}innerText {
      display: inline-block;
      padding: 0 10px;
    }
  }

  &#{$elementSeparator}horizontal.py-divider__withText--left {
    &:before {
      top: 50%;
      width: 5%;
    }
    &:after {
      top: 50%;
      width: 95%;
    }
  }

  &#{$elementSeparator}horizontal.py-divider__withText--right {
    &:before {
      top: 50%;
      width: 95%;
    }
    &:after {
      top: 50%;
      width: 5%;
    }
  }

  &#{$modifierSeparator}innerText {
    display: inline-block;
    padding: 0 24px;
  }

  &#{$modifierSeparator}dashed {
    background: none;
    border-top: 1px dashed $border-color;
  }
  &#{$elementSeparator}horizontal.py-divider__withText.py-divider--dashed,
  &#{$elementSeparator}horizontal.py-divider__withText--left.py-divider--dashed,
  &#{$elementSeparator}horizontal.py-divider__withText--right.py-divider--dashed {
    border-top: 0;
    &:before,
    &:after {
      border-style: dashed none none;
    }
  }
}
