@charset "UTF-8";

// 组件class前缀
$prefixCls: 'py-grid';

$prefixCls: "py-row";
.#{$prefixCls} {
  position: relative;
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
  &-flex {
    display: flex;
    &-start {
      justify-content: start;
    }
    &-end {
      justify-content: flex-end;
    }
    &-center {
      justify-content: center;
    }
    &-space-between {
      justify-content: space-between;
    }
    &-space-around {
      justify-content: space-around;
    }
    &-top {
      align-items: flex-start;
    }
    &-bottom {
      align-items: flex-end;
    }
    &-middle {
      align-items: center;
    }
  }
}

$prefixCls: "py-col";
$start: 1;
$end: 24;
$count: 100%/24;
$name: "__span-";
.#{$prefixCls} {
  position: relative;
  float: left;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  @for $s from $start to $end {
    // &-span- {
    &#{$name}#{$s} {
      width: $count * $s;
    }
    @media (max-width: 767px) {
      &#{$name}xs-#{$s} {
        display: block;
        width: $count * $s;
      }
      &-xs {
        &-offset-#{$s} {
          margin-left: $count * $s;
        }
      }
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      &#{$name}sm-#{$s} {
        display: block;
        width: $count * $s;
      }
      &-sm {
        &-offset-#{$s} {
          margin-left: $count * $s;
        }
      }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      &#{$name}md-#{$s} {
        display: block;
        width: $count * $s;
      }
      &-md {
        &-offset-#{$s} {
          margin-left: $count * $s;
        }
      }
    }
    @media (min-width: 1200px) {
      &#{$name}lg-#{$s} {
        display: block;
        width: $count * $s;
      }
      &-lg {
        &-offset-#{$s} {
          margin-left: $count * $s;
        }
      }
    }
    // }
    &-offset-#{$s} {
      margin-left: $count * $s;
    }
    &-push-#{$s} {
      left: $count * $s;
    }
    &-pull-#{$s} {
      right: $count * $s;
    }
  }
}