@charset "UTF-8";

.py-input {
  position: relative;
  padding: 4px;
  display: inline-table;
  .input-wrap {
    flex: 1;
    position: relative;
  }
  input[disabled],
  textarea[disabled] {
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed;
    color: $color;
  }
  * {
    box-sizing: border-box;
  }
  input,
  textarea {
    padding: 6px;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    width: 100%;
    font-size: 14px;
    flex: 1;
    padding-right: 25px;
    border: 1px solid #ddd;
    &:focus,
    &:hover {
      border-color: $border-color-hover;
      box-shadow: 0 0 4px $border-color-hover;
    }
  }
  textarea {
    overflow: auto;
    transition: 0s;
    word-break: break-all;
    padding: 6px;
    transition: 0.05s;
    min-width: 350px;
    line-height: 20px;
  }
  .isBorder {
    border: 1px solid transparent;
  }
  .input-span {
    line-height: 1.9em;
    margin-right: 5px;
    color: $color;
    display: table-cell;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    cursor: context-menu;
    transition: 0.4s;
    &:hover {
      background: $color-active;
    }
  }
  .input-clear {
    display: none;
  }
  .clearText {
    background: $color;
    position: absolute;
    right: 10px;
    top: 0;
    display: block;
    height: 16px;
    line-height: 15px;
    width: 16px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    bottom: 0;
    margin: auto;
    font-size: 13px;
    transition: 0.5s;
    cursor: pointer;
  }
  .isDisabled {
    cursor: no-drop;
  }
  .large {
    font-size: 16px;
    padding: 8px;
    padding-right: 25px;
  }
  .small {
    font-size: 12px;
    padding: 5px;
    padding-right: 25px;
  }
}

.input-before {
  border-radius: 25px 0 0 25px;
  overflow: hidden;
  .input-span {
    background: $border-color-hover;
    color: #fff;
    min-width: 35px;
    text-align: center;
    margin: 0;
  }
  input {
    border-radius: 0 5px 5px 0;
    border-left: 0;
  }
}

.input-after {
  border-radius: 0 25px 25px 0;
  overflow: hidden;
  .input-span {
    background: $border-color-hover;
    color: #fff;
    min-width: 35px;
    text-align: center;
    margin: 0;
  }
  input {
    border-radius: 5px 0 0 5px;
    border-right: 0;
  }
  .clearText {
    right: 5px;
  }
}
.input-before.input-after {
  border-radius: 25px;
  input {
    border-radius: 0px;
    border-right: 0;
    border-left: 0;
  }
}
