@charset "UTF-8";

@include b(message__container) {
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 2002;
  width: 100%;
  padding: 0 40px;
  text-align: center;
}
@include b(message) {
  margin-bottom: 12px;
  transition: all 0.3s;
  @include e(box) {
    position: relative;
    display: inline-block;
    height: $--message-height;
    padding: 0 20px 0 12px;
    line-height: $--message-height;
    min-width: $--message-min-width;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.07);
    border-radius: 2px;
    font-size: 12px;
    text-align: left;
  }
  @include e(content) {
    display: inline-block;
    line-height: $--message-height;
    padding-right: 16px;
    vertical-align: middle;
  }
  @include e(icon) {
    vertical-align: middle;
    margin-right: 4px;
  }
  @include e(close) {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-align: center;
    line-height: 12px;
    font-style: initial;
    font-size: 12px;
    cursor: pointer;
  }
  @include m(info) {
    background-color: $--message-info-background-color;
    color: $--message-info-color;
  }
  @include m(warning) {
    background-color: $--message-warning-background-color;
    color: $--message-warning-color;
  }
  @include m(error) {
    background-color: $--message-error-background-color;
    color: $--message-error-color;
  }
  @include m(success) {
    background-color: $--message-success-background-color;
    color: $--message-success-color;
  }
  &.#{$state-prefix}center {
    justify-content: center;
  }
}
.py-message-slide-fade-enter-active,
.py-message-slide-fade-leave-active {
  opacity: 1;
  transition: all 0.3s;
}
.py-message-slide-fade-enter,
.py-message-slide-fade-leave-to {
  margin-top: -52px;
  opacity: 0;
}
