@charset "UTF-8";

$--notification-width: 330px !default;
$--notification-padding: 14px 26px 14px 13px !default;
$--notification-radius: 8px !default;
$--notification-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;
$--notification-border-color: $border-color !default;
$--notification-icon-size: 24px !default;
$--notification-close-font-size: 16px !default;
$--notification-group-margin: 13px !default;
$--notification-font-size: $--font-size-base !default;
$--notification-color: $--color-text-regular !default;
$--notification-title-font-size: 16px !default;
$--notification-title-color: $--color-text-primary !default;

$--notification-close-color: $--color-text-secondary !default;
$--notification-close-hover-color: $--color-text-regular !default;

$--notification-success-color: $success-color !default;
$--notification-info-color: $info-color !default;
$--notification-warning-color: $warning-color !default;
$--notification-danger-color: $error-color !default;

$prefixCls: 'notification';
// $element-separator: '__';
// $modifier-separator: '--';

@include b($prefixCls) {
  display: flex;
  width: $--notification-width;
  padding: $--notification-padding;
  border-radius: $--notification-radius;
  box-sizing: border-box;
  border: 1px solid $--notification-border-color;
  position: fixed;
  background-color: $--color-white;
  box-shadow: $--notification-shadow;
  transition: opacity 0.3s, transform 0.3s, left 0.3s, right 0.3s, top 0.4s, bottom 0.3s;
  overflow: hidden;
  z-index: 5000;

  &-fade-enter {
    &.right {
      right: 0;
      transform: translateX(100%);
    }

    &.left {
      left: 0;
      transform: translateX(-100%);
    }
  }

  &-fade-leave-active {
    opacity: 0;
  }

  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }
  @include e(group) {
    margin-left: $--notification-group-margin;
  }
  @include e(title) {
    font-weight: bold;
    font-size: $--notification-title-font-size;
    color: $--notification-title-color;
    margin: 0;
  }
  @include e(content) {
    font-size: $--notification-font-size;
    line-height: 21px;
    margin: 6px 0 0 0;
    color: $--notification-color;
    text-align: justify;

    p {
      margin: 0;
    }
  }
  @include e(icon) {
    height: $--notification-icon-size;
    width: $--notification-icon-size;
    font-size: $--notification-icon-size;
  }
  @include e(closeBtn) {
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    color: $--notification-close-color;
    font-size: $--notification-close-font-size;

    &:hover {
      color: $--notification-close-hover-color;
    }
  }

  .py-icon-check-circle-fill {
    color: $--notification-success-color;
  }

  .py-icon-close-circle-fill {
    color: $--notification-danger-color;
  }

  .py-icon-info-circle-fill {
    color: $--notification-info-color;
  }

  .py-icon-warning-circle-fill {
    color: $--notification-warning-color;
  }
}
