@charset "UTF-8";

$prefixCls: 'py-select';

@include e(dropdown-item) {
  position: relative;
  padding: 0 15px;
  height: 34px;
  list-style: none;
  font-size: 14px;
  color: $color;
  line-height: 34px;
  cursor: pointer;
  transition: all 0.2s;

  &.selected {
    color: $primary-color;
    font-weight: 700;
  }

  &:hover,
  &.actived {
    background: #f5f7fa;
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      cursor: no-drop;
    }

    &:hover,
    &.selected {
      color: $color;
      font-weight: 400;
    }
  }
}
