@charset "UTF-8";

$prefixCls: 'py-select';

@include e(dropdown-group) {
  position: relative;
  list-style: none;
  border-bottom: 1px solid $--color-line-regular;
  &:last-child {
    border-bottom: 0;
  }

  @include e(dropdown-group-label) {
    height: 34px;
    padding: 0 15px;
    line-height: 34px;
    font-size: 12px;
    color: $--color-text-regular;
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      cursor: no-drop;
    }
  }
}
