.py-poptip {
  display: inline-block;
}
.py-poptip-rel {
  display: inline-block;
  position: relative;
}
.py-poptip-title {
  margin: 0;
  padding: 8px 16px;
  position: relative;
}
.py-poptip-title:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0;
  background-color: #e8eaec;
}
.py-poptip-title-inner {
  color: #17233d;
  font-size: 14px;
}
.py-poptip-body {
  padding: 8px 16px;
}
.py-poptip-body-content {
  overflow: auto;
}
.py-poptip-body-content-word-wrap {
  white-space: pre-wrap;
  text-align: justify;
}
.py-poptip-body-content-inner {
  color: #515a6e;
}
.py-poptip-inner {
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}
.py-poptip-popper {
  min-width: 150px;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.5;
  position: absolute;
  z-index: 1060;
}
.py-poptip-popper[x-placement^='top'] {
  padding: 7px 0 10px 0;
}
.py-poptip-popper[x-placement^='right'] {
  padding: 0 7px 0 10px;
}
.py-poptip-popper[x-placement^='bottom'] {
  padding: 10px 0 7px 0;
}
.py-poptip-popper[x-placement^='left'] {
  padding: 0 10px 0 7px;
}
.py-poptip-popper[x-placement^='top'] .py-poptip-arrow {
  bottom: 3px;
  border-width: 7px 7px 0;
  border-top-color: rgba(217, 217, 217, 0.5);
}
.py-poptip-popper[x-placement='top'] .py-poptip-arrow {
  left: 50%;
  margin-left: -7px;
}
.py-poptip-popper[x-placement='top-start'] .py-poptip-arrow {
  left: 16px;
}
.py-poptip-popper[x-placement='top-end'] .py-poptip-arrow {
  right: 16px;
}
.py-poptip-popper[x-placement^='right'] .py-poptip-arrow {
  left: 3px;
  border-width: 7px 7px 7px 0;
  border-right-color: rgba(217, 217, 217, 0.5);
}
.py-poptip-popper[x-placement='right'] .py-poptip-arrow {
  top: 50%;
  margin-top: -7px;
}
.py-poptip-popper[x-placement='right-start'] .py-poptip-arrow {
  top: 8px;
}
.py-poptip-popper[x-placement='right-end'] .py-poptip-arrow {
  bottom: 8px;
}
.py-poptip-popper[x-placement^='left'] .py-poptip-arrow {
  right: 3px;
  border-width: 7px 0 7px 7px;
  border-left-color: rgba(217, 217, 217, 0.5);
}
.py-poptip-popper[x-placement='left'] .py-poptip-arrow {
  top: 50%;
  margin-top: -7px;
}
.py-poptip-popper[x-placement='left-start'] .py-poptip-arrow {
  top: 8px;
}
.py-poptip-popper[x-placement='left-end'] .py-poptip-arrow {
  bottom: 8px;
}
.py-poptip-popper[x-placement^='bottom'] .py-poptip-arrow {
  top: 3px;
  border-width: 0 7px 7px;
  border-bottom-color: rgba(217, 217, 217, 0.5);
}
.py-poptip-popper[x-placement='bottom'] .py-poptip-arrow {
  left: 50%;
  margin-left: -7px;
}
.py-poptip-popper[x-placement='bottom-start'] .py-poptip-arrow {
  left: 16px;
}
.py-poptip-popper[x-placement='bottom-end'] .py-poptip-arrow {
  right: 16px;
}
.py-poptip-popper[x-placement^='top'] .py-poptip-arrow:after {
  content: ' ';
  bottom: 1px;
  margin-left: -7px;
  border-bottom-width: 0;
  border-top-width: 7px;
  border-top-color: #fff;
}
.py-poptip-popper[x-placement^='right'] .py-poptip-arrow:after {
  content: ' ';
  left: 1px;
  bottom: -7px;
  border-left-width: 0;
  border-right-width: 7px;
  border-right-color: #fff;
}
.py-poptip-popper[x-placement^='bottom'] .py-poptip-arrow:after {
  content: ' ';
  top: 1px;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-width: 7px;
  border-bottom-color: #fff;
}
.py-poptip-popper[x-placement^='left'] .py-poptip-arrow:after {
  content: ' ';
  right: 1px;
  border-right-width: 0;
  border-left-width: 7px;
  border-left-color: #fff;
  bottom: -7px;
}
.py-poptip-arrow,
.py-poptip-arrow:after {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.py-poptip-arrow {
  border-width: 8px;
}
.py-poptip-arrow:after {
  content: '';
  border-width: 7px;
}
.py-poptip-confirm .py-poptip-popper {
  max-width: 300px;
}
.py-poptip-confirm .py-poptip-inner {
  white-space: normal;
}
.py-poptip-confirm .py-poptip-body {
  padding: 16px 16px 8px;
}
.py-poptip-confirm .py-poptip-body .ivu-icon {
  font-size: 16px;
  color: #ff9900;
  line-height: 18px;
  position: absolute;
}
.py-poptip-confirm .py-poptip-body-message {
  padding-left: 20px;
}
.py-poptip-confirm .py-poptip-footer {
  text-align: right;
  padding: 8px 16px 16px;
}
.py-poptip-confirm .py-poptip-footer button {
  margin-left: 4px;
}
