.py-poptip {
  display: inline-block;
}

.py-poptip-rel {
  display: inline-block;
  position: relative;
}

.py-poptip__title {
  margin: 0;
  padding: 8px 16px;
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 0;
    background-color: #e8eaec;
  }
}

.py-poptip__title-inner {
  color: #17233d;
  font-size: 14px;
}

.py-poptip__body {
  padding: 8px 16px;
}

.py-poptip__body-content {
  overflow: auto;
}

.py-poptip__body-content-word-wrap {
  white-space: pre-wrap;
  text-align: justify;
}

.py-poptip__body-content-inner {
  color: #515a6e;
}

.py-poptip__inner {
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.py-poptip-popper {
  min-width: 150px;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.5;
  position: absolute;
  z-index: 1060;
  &[x-placement^='top'] {
    padding: 7px 0 10px 0;
  }
  &[x-placement^='right'] {
    padding: 0 7px 0 10px;
  }
  &[x-placement^='bottom'] {
    padding: 10px 0 7px 0;
  }
  &[x-placement^='left'] {
    padding: 0 10px 0 7px;
  }
  &[x-placement^='top'] .py-poptip__arrow {
    bottom: 3px;
    border-width: 7px 7px 0;
    border-top-color: rgba(217, 217, 217, 0.5);
  }
  &[x-placement='top'] .py-poptip__arrow {
    left: 50%;
    margin-left: -7px;
  }
  &[x-placement='top-start'] .py-poptip__arrow {
    left: 16px;
  }
  &[x-placement='top-end'] .py-poptip__arrow {
    right: 16px;
  }
  &[x-placement^='right'] .py-poptip__arrow {
    left: 3px;
    border-width: 7px 7px 7px 0;
    border-right-color: rgba(217, 217, 217, 0.5);
  }
  &[x-placement='right'] .py-poptip__arrow {
    top: 50%;
    margin-top: -7px;
  }
  &[x-placement='right-start'] .py-poptip__arrow {
    top: 8px;
  }
  &[x-placement='right-end'] .py-poptip__arrow {
    bottom: 8px;
  }
  &[x-placement^='left'] .py-poptip__arrow {
    right: 3px;
    border-width: 7px 0 7px 7px;
    border-left-color: rgba(217, 217, 217, 0.5);
  }
  &[x-placement='left'] .py-poptip__arrow {
    top: 50%;
    margin-top: -7px;
  }
  &[x-placement='left-start'] .py-poptip__arrow {
    top: 8px;
  }
  &[x-placement='left-end'] .py-poptip__arrow {
    bottom: 8px;
  }
  &[x-placement^='bottom'] .py-poptip__arrow {
    top: 3px;
    border-width: 0 7px 7px;
    border-bottom-color: rgba(217, 217, 217, 0.5);
  }
  &[x-placement='bottom'] .py-poptip__arrow {
    left: 50%;
    margin-left: -7px;
  }
  &[x-placement='bottom-start'] .py-poptip__arrow {
    left: 16px;
  }
  &[x-placement='bottom-end'] .py-poptip__arrow {
    right: 16px;
  }
  &[x-placement^='top'] .py-poptip__arrow:after {
    content: ' ';
    bottom: 1px;
    margin-left: -7px;
    border-bottom-width: 0;
    border-top-width: 7px;
    border-top-color: #fff;
  }
  &[x-placement^='right'] .py-poptip__arrow:after {
    content: ' ';
    left: 1px;
    bottom: -7px;
    border-left-width: 0;
    border-right-width: 7px;
    border-right-color: #fff;
  }
  &[x-placement^='bottom'] .py-poptip__arrow:after {
    content: ' ';
    top: 1px;
    margin-left: -7px;
    border-top-width: 0;
    border-bottom-width: 7px;
    border-bottom-color: #fff;
  }
  &[x-placement^='left'] .py-poptip__arrow:after {
    content: ' ';
    right: 1px;
    border-right-width: 0;
    border-left-width: 7px;
    border-left-color: #fff;
    bottom: -7px;
  }
}

.py-poptip__arrow {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  &:after {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    content: '';
    border-width: 7px;
  }
  border-width: 8px;
}

.py-poptip-confirm {
  .py-poptip-popper {
    max-width: 300px;
  }
  .py-poptip__inner {
    white-space: normal;
  }
  .py-poptip-body {
    padding: 16px 16px 8px;
    .ivu-icon {
      font-size: 16px;
      color: #ff9900;
      line-height: 18px;
      position: absolute;
    }
  }
  .py-poptip-body-message {
    padding-left: 20px;
  }
  .py-poptip-footer {
    text-align: right;
    padding: 8px 16px 16px;
    button {
      margin-left: 4px;
    }
  }
}
