@charset "UTF-8";

@include b(radio) {
  color: $--color-text-primary;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: $--font-size-base;
  margin-right: 30px;

  @include e(radio) {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
  }

  @include e(inner) {
    border: 1px solid $--border-color-base;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    &::after {
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #fff;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.15s ease-in;
    }
  }

  @include e(input) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @include e(label) {
    margin-left: 10px;
    font-size: $--font-size-base;
  }

  /* 选中状态 */
  @include m(selected) {
    color: $--color-primary;

    @include e(inner) {
      border: 1px solid $--color-primary;
      background-color: $--color-primary;
      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  /* disabled状态 */
  @include m(disabled) {
    color: $--color-text-secondary;
    user-select: none;
    cursor: not-allowed;

    @include e(radio) {
      cursor: not-allowed;
    }

    @include e(inner) {
      border: 1px solid $--border-color-base;
      background-color: $--color-disabled-base;

      &::after {
        background-color: $--color-text-secondary;
      }
    }
  }

  /* enabled状态 */
  @include m(enabled) {
    &:hover {
      color: $--color-primary;
      @include e(inner) {
        border: 1px solid $--color-primary;
      }
    }
  }
}

/* 按钮样式 */
@include b(radio-btn) {
  position: relative;
  display: inline-block;
  outline: none;
  color: $--color-text-primary;
  font-size: $--font-size-base;
  border: 1px solid $--border-color-base;
  cursor: pointer;

  @include e(label) {
    padding: 12px 20px;
  }

  @include m(medium) {
    @include e(label) {
      padding: 10px 20px;
    }
  }

  @include m(small) {
    @include e(label) {
      padding: 9px 15px;
      font-size: 12px;
    }
  }

  @include m(mini) {
    @include e(label) {
      padding: 7px 15px;
      font-size: 12px;
    }
  }

  @include m(enabled-selected) {
    color: #fff;
    background-color: $--color-primary;
    border: 1px solid $--color-primary;
  }

  @include m(disabled-selected) {
    color: $--color-text-secondary;
    background-color: $--color-disabled-base;
    border: 1px solid $--border-color-base;
  }

  @include m(disabled-unselected) {
    color: $--color-text-secondary;
    user-select: none;
    cursor: not-allowed;
    border: 1px solid $--border-color-base;
  }

  @include m(enabled-unselected) {
    &:hover {
      color: $--color-primary;
    }
  }
}
