@charset "UTF-8";

$prefixCls: 'py-rate';
$gray: #e9e9e9;
$orange: #f5a623;
$yellow: #f7b84f;

.#{$prefixCls} {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 20px;
  vertical-align: middle;
  font-weight: 400;
  font-style: normal;
}

.#{$prefixCls}-disabled {
  .#{$prefixCls}__star--content:before {
    cursor: default;
  }
  .#{$prefixCls}__star {
    &:before {
      cursor: default;
    }
    &:hover {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
}

.#{$prefixCls}__star--full,
.#{$prefixCls}__star--zero {
  position: relative;
}

.#{$prefixCls}__char--half {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $gray;
  cursor: pointer;
}

.#{$prefixCls}__char--content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $gray;
  cursor: pointer;
}

.#{$prefixCls}__star--chart {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  &.#{$prefixCls}__star--full {
    .#{$prefixCls}__char--half,
    .#{$prefixCls}__char--content {
      color: $orange;
    }
  }
  &.#{$prefixCls}__star--half .#{$prefixCls}__char--half {
    opacity: 1;
    color: $orange;
  }
}

.#{$prefixCls}__star {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.#{$prefixCls}__star--content:before,
.#{$prefixCls}__star:before {
  color: $gray;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
}

.#{$prefixCls}__star--content {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  &:before {
    color: transparent;
  }
}

.#{$prefixCls}__star--full:before,
.#{$prefixCls}__star--half .#{$prefixCls}__star--content:before {
  color: $orange;
}

.#{$prefixCls}__star--full:hover:before,
.#{$prefixCls}__star--half:hover .#{$prefixCls}__star--content:before {
  color: $yellow;
}

.#{$prefixCls}__text {
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
}
