@charset "UTF-8";
$prefixCls: 'py-row';

.#{$prefixCls} {
  position: relative;
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
  &__flex {
    display: flex;
    &-start {
      justify-content: start;
    }
    &-end {
      justify-content: flex-end;
    }
    &-center {
      justify-content: center;
    }
    &-space-between {
      justify-content: space-between;
    }
    &-space-around {
      justify-content: space-around;
    }
    &-top {
      align-items: flex-start;
    }
    &-bottom {
      align-items: flex-end;
    }
    &-middle {
      align-items: center;
    }
  }
}
