@charset "UTF-8";

$prefixCls: 'py-tabs';

.#{$prefixCls} {
  &__nav-wrap {
    position: relative;
    padding: 0;
    margin: 0 0 15px;
    .py-tabs__nav {
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        z-index: -1;
        background: $border-color;
      }
      .py-tabs__navitem {
        float: left;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        font-weight: 500;
        color: $color;
        box-sizing: border-box;
        overflow: hidden;
        &:hover {
          color: $color-active;
          cursor: pointer;
        }
        &:nth-child(2) {
          padding-left: 0;
        }
        &.py-tabs__navitem--active {
          color: $color-active;
        }
      }
    }
  }
  /* 选项卡样式 */
  &.py-tabs--tab {
    .py-tabs__nav-wrap {
      .py-tabs__nav {
        &:after {
          height: 1px;
        }
        .py-tabs__navitem {
          border: 1px solid $border-color;
          border-right: 0;
          &:nth-child(2) {
            border-top-left-radius: 4px;
            padding-left: 20px;
          }
          &:last-child {
            border-top-right-radius: 4px;
            border-right: 1px solid $border-color;
          }
        }
      }
    }
    .py-tabs__active-bar {
      height: 1px;
      background: #fff;
    }
  }
  /* 卡片化样式 */
  &.py-tabs--card {
    border: 1px solid $border-color;
    box-shadow: 0 2px 10px 0 $border-color;
    .tabs-content {
      padding: 0 20px 20px;
    }
    .py-tabs__nav-wrap {
      .py-tabs__nav {
        &:after {
          height: 1px;
        }
        .py-tabs__navitem {
          border-right: 1px solid $border-color;
          &.py-tabs__navitem--active {
            border-bottom: 1px solid #fff;
          }
          &:nth-child(2) {
            border-top-left-radius: 4px;
            padding-left: 20px;
          }
          &:last-child {
            border-top-right-radius: 4px;
            border-right: 1px solid $border-color;
          }
        }
      }
    }
    .py-tabs__active-bar {
      display: none;
      height: 1px;
      background: #fff;
    }
  }
  /* 可关闭样式 */
  &.is-closable {
    .py-tabs__nav-wrap {
      .py-tabs__nav {
        .py-tabs__navitem {
          &:hover {
            .pyui-icons {
              width: 20px;
            }
          }
          &.py-tabs__navitem--active {
            border-bottom: 1px solid #fff;
            .pyui-icons {
              width: 20px;
            }
          }
        }
      }
    }
  }
}
.py-tabs__active-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: $border-color-active;
  z-index: 1;
  transition: all 0.3s;
}
.py-tabs__close.pyui-icons {
  position: relative;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  line-height: 1;
  font-size: 14px;
  width: 0;
  overflow: hidden;
  top: 1px;
  margin-left: 5px;
  transition: all 0.3s;
}
